html,
body {
 margin:0;
 padding:0;
 height:100%;

}

body {
background: #FAFAF0;
  font-family: verdana, arial;
  font-size: 12px;
  color: #333333;
}

#header{
float:left;
width:100%;
background-color: #ECF2E1;
  border-bottom: 3px solid #79A04B;
position:relative;
}
#header h1 {
  color: #999;
  letter-spacing: -1px;
  text-align: center;
  padding: 20px 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 300;
}

#loading{
  height:20px;
  width:20px;
  float:left;
}
#container {
 min-height: 100%;
 position: relative;
}

#footer {
 float:left;
 background: #FAFAF0;
 border-top: 1px solid #A0A0A0;
 width:100%;

}

.gsiLogo{
  height:100px;
  opacity: 0.7;
}

.globalLogo{
  height:90px;
  opacity: 0.7;
}

#footer p {
  padding: 5px;
  color: #666;
  font-size: 13px;
}
#logo{
  float:left;
}
#menuBar{
  position:absolute; bottom:0; 
  margin-left:250px;
  width: 100%;
  max-width: 400px;
  min-width: 400px;
}
.menuBarItem{
  height:35px;
  width:120px;
  float:left;
  text-align: center;
}

.menuItemText{
  border-left: dotted 1px #CCC;
  border-right: dotted 1px #CCC;
  height:20px;
}

.menuItemText a{
  height:100%;
  display:block;
  color:black;
  text-decoration:none;
} 

.selected .menuItemText{
}

.selected .menuItemArrow{
  margin-top:7px;
  margin-left:50px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #79A04B;
  
}
.selected a{
  text-decoration:none;
  font-weight:bold;
  color:#42552b;
}
.active a{
  color:#42552b;
}
.inactive a{
  color:#aaa;
  pointer-events: none;
  cursor: default;
}

.draggable{ 
width: 110px; 
height: 110px; 
float: left;
margin: 5px 5px 5px 5px; 
background:white;
border: 1px solid #A0A0A0;
box-shadow: 0px 0px 5px #999;
border-radius: 5px;
cursor:move;
overflow: hidden;
}

.dragged{ 
transform:rotate(-4deg);
-ms-transform:rotate(-4deg); /* IE 9 */
-moz-transform:rotate(-4deg); /* Firefox */
-webkit-transform:rotate(-4deg); /* Safari and Chrome */
-o-transform:rotate(-4deg); /* Opera */
}

.draggable:hover
{ 

box-shadow:0 0 10px #555;
}

.dropContainer{
padding-left:30px;
height:160px;
background-color: #E8E8E8;
box-shadow:inset 0 0 10px #ccc;
border-radius: 15px;
width: 140px;
overflow: hidden;
margin: 0 auto;
margin-top:20px;
margin-bottom:20px;
}

.offerContainer{
padding-left:30px;
width: 140px;
}
.droppable{ 
width: 110px; 
height: 110px; 
float: left; 
margin: 25px 20px 0px 0px; 
background: #DADADA;
border: 1px solid #ADADAD;
box-shadow:inset 0 0 8px #bbb;
border-radius: 5px;
text-align:center;
overflow: hidden;
position:relative;
}
.offer{
width: 110px; 
height: 110px; 
margin: 25px 0px 0px 0px; 
}

.to {
text-align: center;
font-size: 50px;
padding-top: 40px;
width: 75px;
float: left;
color: #79A04B;
}
.droppableText{
padding-top: 25px;
color: #AAA;
text-shadow: 1px 1px 0 #EEE;
text-align: center;
text-shadow: 1px 1px 0 #EEE;
margin:10px;
}

.mainContainer{
float:left;
width:100%;
box-shadow:inset 0 0 5px #999;
background-color: #F0F0F0;
z-index:-100;
}

.dragContainer{
width:610px;
height:400px;
margin: 0 auto;
}
.defaultLogo{
  padding:5px;
  width: 100px; 
  opacity: 0.9;
}
.draggableText{
width: 106px; 
height:17px;
background:#222;
color:#ccc;
padding: 2px;
font-size: 12px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
text-align:center;
vertical-align:middle;
border-radius: 0px 0px 5px 5px;
box-shadow: 50px -10px 100px #bbb;
opacity: 0.9;
}

/*Finalize*/
.finalizeContainer{
  float:left;
  margin: 0 auto;
  margin-top:20px;
}

.finalizeContainer h2{
  font-size: 25px;
}

.finalizeContainer a{
  text-decoration:none;
  color:#333;
  text-align:left;
  font-size: 15px;
}

.logoContainer{
width: 110px; 
height: 90px;
}
.textContainer{
width: 110px; 
height: 20px;
box-shadow: 0 0 3px #999;
}

.controlContainer{
width:610px;
height:30px;
margin: 0 auto;
}

.button{
	width:75px;
	height:15px;
	padding:3px 3px;
	margin:2px;
	margin-right:5px;
	color:white;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	text-align:center;
	background-color:#79A04B;
	border-radius: 3px;
	cursor:pointer;
	box-shadow: 0 0 4px #999;
}

#search{
	width:515px;
	height:15px;
	margin-top:2px;
}
.page_navigation , .alt_page_navigation{
	padding-bottom: 10px;
	width: 100%;
	float: left;
}

.page_navigation a, .alt_page_navigation a{
	padding:3px 5px;
	margin:2px;
	color:white;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	background-color:#79A04B;
	box-shadow: 0 0 4px #79A04B;
}

.active_page{
	background-color:white !important;
	color:black !important;
}

.add-arrow {
  float:left;
  display: block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url('../images/addArrow.png') no-repeat;
}
.add-arrow:hover {
background-position: 0 -50px;
}

#langBar{
  float:right;
}
.flag{
  margin:3px;
  width: 25px; 
  height: 15px; 
  box-shadow: 0 0 5px #999;
  opacity: 0.3;
}
.flag:hover{
  box-shadow: 0 0 8px #999;
  opacity: 1;
}
.flagSelected{
  box-shadow: 0 0 5px #999;
  opacity: 1;
}

.med ul{
  list-style-type: circle;
  padding-left: 20px; 
}
/*ToolTips*/
.qtip-tip{
  z-index:20;
}
.qtip-contentWrapper{
  border-radius: 3px;
}
.qtip-wrapper{
  border-radius: 3px;
  box-shadow: 0 0 7px #999;
}
/*Ventana emergente*/
.ui-dialog{
  overflow: hidden;
  background:#79A04B;
  box-shadow: 0 0 5px #333;
  border-radius: 2px;
  padding:2px;
}

.ui-dialog-titlebar{
  background:#ECF2E1;
  border-radius: 2px 2px 0 0px;
}

.ui-dialog-titlebar-close{
  background: url(../images/cancel.png);
  background-size:18px 18px;
  background-repeat:no-repeat;
}
.ui-dialog-titlebar-close:hover{
  background: url(../images/cancel.png);
  background-size:16px 16px;
  background-repeat:no-repeat;
}
#dialog{
  background:white;
  border-radius: 0 0 2px 2px;
  padding:2px;
}
/*Tabs Ventana Emergente*/

.ui-tabs-nav{
  background:#fafafa;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow:inset 0 0 10px #ddd;
}

.ui-tabs-anchor{
  color:black;
  text-decoration:none;
}


.ui-state-default{
  border: 1px solid #ccc;
  border-radius: 3px 3px 0 0px;
  opacity: 0.7;
}

.ui-state-hover{
  opacity: 1;
  background:#fff;
}

.ui-state-active{
  background:white;
  opacity: 1;
}

#lines{
  position:absolute;
  margin-left:140px;
  width:300px;
  height:180px;
  background: url(../images/drag.png);
  background-size:200px 180px;
  background-repeat:no-repeat;
}

.finalizeContainer ul{
  list-style-type: circle;
  padding-left: 20px; 
}
