html,
body {
 -webkit-user-select: none; 
 margin:0;
 padding:0;
 height:100%;

  background: #FAFAF0;
  font-family: verdana, arial;
  font-size: 12px;
  color: #333333;
}
.waitState{
  cursor:wait;
}
.clear {clear: both !important}

#header{
  float:left;
  width:100%;
  min-width: 880px;
  background-color: #ECF2E1;
  border-bottom: 2px solid #79A04B;
  -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
  position:relative;
  cursor:default;
  z-index:101;
  position: fixed !important;
}
#header h1 {
  color: #999;
  letter-spacing: -1px;
  text-align: center;
  padding: 20px 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 300;
}

#container {
 min-height: 100%;
 position: relative;
}

#footer {
 float:left;
 background: #FAFAF0;
 border-top: 1px solid #A0A0A0;
 -webkit-box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, .52);
 width:100%;
 min-width: 880px;
 cursor:default;
}

.gsiLogo{
  float:left;
   background-image: url("../images/gsiLogoGrey.png");
  transition: background-image 0.3s ease-in;
      -moz-transition: background-image 0.3s ease-in;    /* FF3.7+ */
      -o-transition: background-image 0.3s ease-in;      /* Opera 10.5 */
      -webkit-transition: background-image 0.3s ease-in; /* Saf3.2+, Chrome */
  
  background-repeat: no-repeat;
  height:100px;
  width:100px;
  opacity: 0.5;
}
.gsiLogo:hover{
  background-image: url("../images/gsiLogoColor.png");
  opacity: 1;
}
.globalLogo{
  float:left;
  background-image: url("../images/globalLogoGrey.png");
  transition: background-image 0.3s ease-in;
      -moz-transition: background-image 0.3s ease-in;    /* FF3.7+ */
      -o-transition: background-image 0.3s ease-in;      /* Opera 10.5 */
      -webkit-transition: background-image 0.3s ease-in; /* Saf3.2+, Chrome */
  background-repeat: no-repeat;
  height:100px;
  width:100px;
  opacity: 0.5;
}
.globalLogo:hover{
  background-image: url("../images/globalLogoColor.png");
  opacity: 1;
}

#footer p {
  padding: 5px;
  color: #666;
  font-size: 13px;
}
#logo{
  float:left;
}
/*MESSAGE BAR*/
#messageBar{
  margin-right:5px;
  margin-bottom:5px;
  position:absolute; bottom:0; right:0;
  font-family: verdana, arial;
  font-size: 12px;
  color: #333333;
}
/*MENU BAR*/
#menuBar{
  position:absolute; bottom:0; 
  margin-left:250px;
  width: 100%;
  max-width: 620px;
  min-width: 620px;
  text-align:center;
}
.menuBarItem{
  height:85px;
  width:120px;
  float:left;
  text-align: center;
}
.selectedOffer{
  cursor:pointer;
  z-index:1000;
  height:80px;
  width:110px;
  float:left;
  background:white;
  border-radius:5px;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 5px;
  -webkit-box-shadow:inset 0 0px 4px 0px rgba(0, 0, 0, 0.52);
}
.selectedOffer:hover{
  -webkit-box-shadow:inset 0 0px 8px 0px rgba(0, 0, 0, 0.52);
}
.selectedOffer .logoContainer {
  height: 60px;
}
.selectedOffer .defaultLogo {
  padding:0;
  padding-top:2px;
  padding-left:10px;
  width: 90px;
}
.selectedOffer .draggableText {
  font-weight:bold;
  opacity:0.9;
  border-radius: 0px 0px 5px 5px;
  width: 106px;
  background:#54815F;

}
.menuBarItem img{
  opacity:0.5;
}
.menuBarItem.selected img{
  opacity:1;
}
.menuBarItem.selected:hover img{
  opacity:1;
}
.menuBarItem.inactive img{
  opacity:0.1;
}
.menuBarItem:hover img{
  opacity:0.75;
}
.menuBarItem.inactive:hover img{
  opacity:0.1;
}
.menuItemIcon{
  margin: 0 auto;
  height:50px;
  width:80px;
}
.menuItemText{
  border-left: dotted 1px #CCC;
  border-right: dotted 1px #CCC;
  height:20px;
}
.menuBarItem a{
  height:100%;
  display:block;
  color:#42552b;
  text-decoration:none;
}
.menuItemArrow{
  margin-top:7px;
  margin-left:50px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #79A04B;
}
.selected a{
  text-decoration:none;
  font-weight:bold;
  color:#42552b;
}
.active a{
  color:#42552b;
}
.menuBarItem a:hover{
  font-weight:bold;
}
.inactive a{
  color:#bbb;
  pointer-events: none;
  cursor: default;
}

/*Droppables*/
.dropContainer{
  width: 880px;
  margin: 0 auto;
  text-align: center;
  margin-top:20px;
  cursor:default;
}
#droppableElements{
  width: 0px; 
  height: 122px; 
  display: inline-block;
  position:relative;
  background-color: #E8E8E8;
  box-shadow:inset 0 0 3px #ccc;
  border-radius: 5px;
}
.droppable{ 
  width: 130px; 
  height: 100px; 
  float: left;
  margin:10px;
  background: #DADADA;
  border: 1px solid #B9B9B9;
  box-shadow:inset 0 0 8px #bbb;
  border-radius: 5px;
  overflow: hidden;
}
.droppableText{
  padding-top: 20px;
  padding-right:5px;
  padding-left:5px;
color: #AAA;
text-shadow: 1px 1px 0 #EEE;
text-align: center;
font-size: 15px;
text-shadow: 1px 1px 0 #EEE;
margin:10px;
}
.droppable.selected{ 
  border: 1px solid #FFD76F;
  background-color: #FFD76F;
}
.droppable.draggableCompany{ 
  background-color: white;
}
.droppable:hover{
  background-color: #FFD76F;
}
.droppable.draggableCompany:hover{ 
  background-color: white;
}
.droppable:hover .droppableText{
  color: #555;
  text-shadow: none;
}
.ui-state-disabled{
  opacity:1;
}
.company{
  cursor:pointer !important;
}
.draggableOffer, .draggableCompany{
  cursor:move !important;
  background:white;
  box-shadow: 0 0 0px #5c5;
}
.draggableOffer:hover, .draggableCompany:hover{ 
  box-shadow:0 0 8px #aaa;
}
.ui-tooltip table{ 
  width:100%;
  border:1px solid #79A04B;
  padding:5px;
  background:white;
  color:#42552b;
  opacity:1;
}

.ui-tooltip th{ 
  color:#42552b;
  background:white;
  background-color:#ECF2E1;
  padding:5px;
  border-left:1px solid #79A04B;
}
.ui-tooltip td{ 
  background:#ECF2E1;
  padding:5px;
  border-left:1px solid #79A04B;
}
.ui-tooltip tr{ 
  border:1px solid #79A04B;
  padding:5px;
}

/*MAIN CONTAINER*/
.mainContainer{
margin-top:90px;
background-image: url(../images/dotted.png);
float:left;
width:100%;

background-color: #F0F0F0;
z-index:-100;
}

/*Draggables*/
.dragContainer{
  width:880px;
  height:400px;
  margin: 0 auto;
  text-align: center;
}
#draggableElements{
  border-top: 1px solid #ddd;
  display: inline-block;
  width:750px;
  height:400px;
  position:relative;
}
#leftArrow{
  float:left;
  margin-top:140px;
  opacity:0.4;
}
#leftArrow:hover {
  opacity:1;
}
#rightArrow{
  float:right;
  margin-top:140px;
  opacity:0.4;
}
#rightArrow:hover {
  opacity:1;
}
.draggable{ 
  position:relative;
  width: 130px; 
  height: 100px; 
  float: left;
  margin: 10px 10px 10px 10px; 
  background:white;
  box-shadow: 0px 0px 10px #aaa;
  border-radius: 5px;
  cursor:move;
  overflow: hidden;
}
.clickableOffers{
  cursor:pointer;
}
.draggableInfo, .deleteOffer{
  display:none;
  color:black;
  background:white;
  font-size: 20px;
  width: 25px;
  height: 25px;
  z-index: 100;
  margin: 2px;
  position: absolute;
  border: 1px solid #eee;
  border-radius: 0px;
  opacity:0.5;
}
.draggableInfo{
  border-radius: 5px 0px 0px 0px;
  cursor:pointer;
}
.deleteOffer{
  border-radius: 0px 5px 0px 0px;
  cursor:pointer;
  right: 0;
}
.draggableInfo:hover{
  color:white;
  background:#0F5BFF;
}
.deleteOffer:hover{
  color:white;
  background:#d22;
}
.draggable:hover .draggableInfo{
  display:block;
}
.draggable:hover .deleteOffer{
  display:block;
}
.dragged{ 
  transform:rotate(-4deg);
  -ms-transform:rotate(-4deg); /* IE 9 */
  -moz-transform:rotate(-4deg); /* Firefox */
  -webkit-transform:rotate(-4deg); /* Safari and Chrome */
  -o-transform:rotate(-4deg); /* Opera */
}

.draggable:hover{ 
  box-shadow:0 0 10px #555;
}
.clickableOffers:hover{ 
  box-shadow: inset 0px 0px 10px #AAA;
}
.defaultLogo{
  padding-top:5px;
  padding-left:10px;
  width: 110px; 
  opacity: 1;
}
.offer .draggableText{
  background:#54815F;
}

.draggableText{
  width: 126px; 
  height:16px;
  background:#496B86;
  color:#ccc;
  padding: 2px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align:center;
  vertical-align:middle;
  border-radius: 0px 0px 5px 5px;

  opacity: 1;
}

.logoContainer{
position:relative;
text-align:left;
width: 130px; 
height: 80px;
}
.textContainer{
position:relative;
width: 130px; 
height: 20px;

}

/*CONTROL CONTAINER*/
.controlContainer{
width:880px;
height:70px;
margin: 0 auto;
text-align: center;
}

#filterBar{
  display: inline-block;
  margin-top:30px;
  text-align:center;
}

#search {
  padding:4px;
  width:600px;
  height:18px;
  border: 1px solid #CCC;
  border-radius: 3px;
}

input{ 
        width:100%;
        background-color:white;
	opacity:0.5;
}

input:focus{ 
        background-color:white;
        opacity:1;
}

/*PAGE NAVIGATION*/
.page_navigation , .alt_page_navigation{
        position: absolute; bottom: 0;
	margin-bottom: 15px;
	width: 100%;
	float: left;
}
.page_navigation a, .alt_page_navigation a{
	padding:3px 5px;
        min-width:15px;
	margin:2px;
	color:#555;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 11px;
        border-width: 1px;
	border-style: solid;
        border-color: #CCC #CCC #AAA;
        background-image: -webkit-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
}
.page_navigation a:hover{
        border-color: #aaa;
        background-image: none;
	background-color: white;
}
.page_navigation .next_link, .previous_link{
  display:none;
}
.page_navigation .ellipse{
  float:left;
}
.active_page{
  background-color:white !important;
  color: #555 !important;
  border-color: #888 #AAA #CCC !important;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25),0 1px 0 white !important;
  background-image: -webkit-linear-gradient(top,#C8C8C8 0,#E6E6E6 100%) !important;
}
/*NEW OFFER BUTTON*/
#newOfferContainer{
  float:left;
  margin:10px;
  width: 130px; 
  height: 100px; 
  background-color: #DADADA;
  box-shadow:inset 0 0 5px #aaa;
  border-radius: 2px;
  text-align:center;
}
#newOfferText{
  padding-right:5px;
  padding-left:5px;
  text-align:center;
  color: #AAA;
  margin-top:30px;
  font-size: 15px;
  text-shadow: 1px 1px 0 #EEE;
}
#newOfferContainer:hover{
  background-color: #FFD76F;
  box-shadow:inset 0 0 10px #aaa;
}
#newOfferContainer:hover #newOfferText{
  color: #555;
  font-weight:bold;
  text-shadow: none;
}

/*Idiomas*/
#langBar{
  float:right;
}
.flag{
  margin:5px;
  width: 30px; 
  height: 18px; 
  box-shadow: 0 0 5px #999;
  opacity: 0.3;
}
.flag:hover{
  box-shadow: 0 0 8px #999;
  opacity: 1;
}
.flagSelected{
  box-shadow: 0 0 5px #999;
  opacity: 1;
}

/*MESSAGE*/
.message{
  margin-top: 5px;
  margin-left: 80px;
}

.med{
  text-align: left; 
}
.med ul{
  text-align: left;
  list-style-type: circle;
  padding-left: 20px; 
}

/*ToolTips*/
.ui-tooltip{
  background-color:white;
  max-width: 500px;
}
.offerButtonDIV{
    float:left;
}

/*LINES*/
#lines{
  position:absolute;
  margin-left:175px;
  background-repeat:no-repeat;
}
#Offerlines{
  opacity:1 !important;
  position:absolute;
  margin-left:135px;
}
#Selectlines{
  position:absolute;
  margin-left:50px;
  margin-top:-10px;
}
/*Finalize*/
.finalizeContainer{
  width:90%;
  margin: 0 auto;
  margin-top:140px;
  background-color: #ECF2E1;
  border: 1px solid #B3B3B3;
}

.finalizeContainer h2{
  margin-bottom: 10px;
  font-size: 20px;
  padding:5px;
}

.finalizeBtn{
  border-top: 1px solid #CCC;
}
.finalizeBtn a{
  text-decoration:none;
  color:#333;
  text-align:left;
  font-size: 15px;
  display:block;
  padding: 6px;
  background-color: #ffffff;
  transition: background-color 0.3s linear;
      -moz-transition: background-color 0.3s linear;    /* FF3.7+ */
      -o-transition: background-color 0.3s linear;      /* Opera 10.5 */
      -webkit-transition: background-color 0.3s linear; /* Saf3.2+, Chrome */
}
.finalizeBtn a:hover{
  color:white;
  background-color: #79A04B;
}
/*Filter Panel KENDO*/
.filterPanel{
  float:left;
  margin-left:-200px;
  position:absolute; 
  border:none;
  background-color:transparent;
  z-index:100;
}
.filterPanel .k-item.k-state-default{
  margin-top:10px !important;
  box-shadow: 0px 0px 6px #bbb;
}
.filterPanel .k-item.k-state-highlighted{
  margin-top:10px !important;
  box-shadow: 0px 0px 8px #888;
}
.filterGroup .k-item.k-state-default{
  margin-top:0px !important;
  border-top: 1px solid #CCC !important;
  box-shadow: 0px 0px 0px #aaa !important;
}
.filterPanel a{
  background-color: #ffffff;
  transition: background-color 0.3s linear;
      -moz-transition: background-color 0.3s linear;    /* FF3.7+ */
      -o-transition: background-color 0.3s linear;      /* Opera 10.5 */
      -webkit-transition: background-color 0.3s linear; /* Saf3.2+, Chrome */
}
.filterPanel a.active{
  color:white;
  font-weight:bold;
  background-color:#79A04B;
}
.k-state-selected{
  color:black;
  background-color:#ECF2E1;
}
.k-header .k-state-hover{
  color:white;
  background-color:#79A04B !important;
}
.k-link{
  border:none !important;
}
.k-link.k-header.k-state-hover{
  color:black;
  background-color:#ECF2E1 !important;
}
.k-icon.k-i-arrow-n.k-panelbar-collapse{
  margin: 0;
  margin-top: 7px;
  margin-right:5px;
  float: left;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 5px solid #79A04B;
}
.k-icon.k-i-arrow-s.k-panelbar-expand{
  margin: 0;
  margin-top: 7px;
  margin-right:5px;
  float: left;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #79A04B;
}

.filterName{
  margin-right:10px;
}
.separator{
  float:right;
  margin-top:1px;
  margin-right:10px;
  height:27px;
  border-left: 1px solid #e5e5e5;
}

/*BLACK BACKGROUND*/
#blackDIV{
  z-index:500;
  position:absolute;
  width:100%;
  height:100%;
  background:black;
  opacity:0.6;
}
/*BLACK CONTENT*/
#blackCont{
  overflow: auto;
  z-index:550;
  position:absolute;
  width:100%;
  height:100%;
  background:transparent;
}
/*BLACK LOADING*/
#loading{
  display:none;
  position:relative;
  top:300px;
  text-align:center;
  z-index:600;
  margin: 0 auto;
  margin-top:50px;
  width:300px;
  height:50px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background:white !important;
  opacity:1 !important;
}
#loadingIMG{
  margin-top:15px;
}
/*BLACK MESSAGE*/
#blackMSG{
  -webkit-user-select: auto; 
  position:relative;
  z-index:605;
  margin: 0 auto;
  width:880px;
  height:100%;
}
#blackText{
  width:100%;
  padding:10px;
  float:left;
  position:relative;
  margin-top:10px;
  margin-bottom:10px;
  color:white;
  z-index:607;
  background:black;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #888;
  opacity:0.8;
}
#blackText .logoContainer{ 
  float:right;
  margin:5px;
}
#blackText .defaultLogo{ 
  background-color: white;
  padding: 10px;
}
#blackText table{ 
  width:100%;
  border:1px solid black;
  padding:5px;
  background:white;
  color:black;
  opacity:1;
}

#blackText th{ 
  color:white;
  background:white;
  background-color:#79A04B;
  padding:5px;
  border-left:1px solid black;
}
#blackText td{ 
  background:white;
  padding:5px;
  border-left:1px solid black;
}
#blackText tr{ 
  border:1px solid black;
  padding:5px;
}
#blackText h1{
  background-color:#79A04B;
  padding:5px;
  margin:5px;
  font-size: 25px;
  text-align:center;
  z-index:620;
}
#blackText h2{
  margin:5px;
  font-size: 18px;
  text-align:left;
  z-index:620;
}
#blackText p{
  max-width: 700px;
  margin:10px; 
  margin-left:20px;
  font-size: 15px;
  text-align:left;
  z-index:620;
}
#blackText iframe{
  margin:10px;
  text-align:center;
}
